<div class="thumbnail">
  <img src=<%= item.img_url %> >
  <div class="caption">
    <h3> <%= item.name %> </h3> 
    <h6> <%= link_to "Store Page", item.steam_url %> </h6>
    <% if item.description.nil? %>
    <p> No Description Available </p>
    <% else %>
    <p>  <%= item.description.html_safe %> </p>
    <% end %>
  </div> 
</div> 