<div class="col-md-4" style="height: 100px">
  <a href="<%= root_path %>items/<%= item.id%>">
    <img src=<%= item.img_url %> class="img-responsive" ></img>
  </a>
    <div class="caption">
      <h6> <%= item.name %> </h6> 
    </div>  
</div>