<div class="container center-horz-vert">
  <center><h1 id="frontpage-title"> Better Steam Swap </h1></center>
  <center>
    <p id="frontpage-para" align="left"> 
        Better Steam Swap is a service created by Matt Larkin and Jonathan Cyr using Ruby on Rails to 
        help connect Steam users with each other for trading games that they have in their inventory. 
    </p>
    <p> <%= button_to "Learn More!", about_path, :method => :get, class: "btn btn-primary btn-lg" %>
  </center>
</div>


