<div class="container center-horz-vert">
  <center><h1 id="frontpage-title"> About </h1></center>
  <center>
    <p id="frontpage-para" align="left"> 
        <h2> What is your steam inventory? </h2>
        <p class="about-paragraph" align="left"> 
        Your steam inventory holds your extra copies of games and trading cards. Usually users 
        get extra copies of games by buying collections that contain a game that they already own. 
        </p>

        <h2> What is the purpose of Better Steam Swap? </h2>
        <p class="about-paragraph" align="left">
        Currently, Steam has no service in place to make it easy for users to connect with each other
        to trade extra copies of games that they own. Users usually have to post on a forum and wait for 
        other users to respond - which isn't very efficient. Better Steam Swap's purpose is to make finding 
        games and trading easier. We provide a catalog of games to go through as well as a wishlist that each 
        user can have and using this wishlist we find possible traders. 
        </p>

        <h2> What are possible traders? </h2>
        <p class="about-paragraph" aling="left">
        Possible traders are users that own the current game you are looking at or searching for and they have
        a game in their wishlist that you own.
        </p>
    </p>
  </center>
</div>