<%= form_tag wishlistdelete_path do %>
<div class="row">
	<center>
	<%= submit_tag 'Delete Checked Items From Wishlist'%>
	</center>
</div>
  <% @items.each do |item| %>
   		<%= render 'shared/item_box', :item => item %>
   		
  <% end %>


<% end %>