<%= form_tag wishlistdelete_path do %>
<div class="row">
	<center style="padding-top: 10px;">
	<%= submit_tag 'Delete Checked Items From Wishlist', class: "btn btn-primary" %>
	</center>
</div>
  <% @items.each do |item| %>
   		<%= render 'shared/item_box', :item => item %>
   		
  <% end %>


<% end %>