<div class="thumbnail">
  <img src=<%= item.img_url %> >
  <div class="caption">
    <h3> <%= item.name %> </h3> 
    <h6> <%= link_to "Store Page", item.steam_url %> </h6>
    <p>  <%= item.description %> </p>
  </div> 
</div> 